#!/usr/bin/make -f
# -*- makefile -*-


export DH_VERBOSE=1

override_dh_auto_configure:
	dh_auto_configure -- -DBUILD_SHARED_LIBS=OFF

override_dh_auto_install:
	mkdir -p debian/lwimager1.2/usr/bin
	cp obj-$(DEB_BUILD_GNU_TYPE)/synthesis/lwimager debian/lwimager1.2/usr/bin/lwimager1.2

%:
	dh $@ --parallel
